#line1 {
width: 50%;
font-size: 32px;
background-image: linear-gradient(to bottom, #fff, #f00);
border-radius: 4px;
}

#line2 {
width: 50%;
font-size: 32px;
background-image: linear-gradient(to bottom left, #fff, #ff0);
border-radius: 4px;
}

#line3 {
width: 50%;
font-size: 32px;
background-image: linear-gradient(to bottom, #f00, #00f);
border-radius: 4px;
}

#line4 {
width: 50%;
font-size: 32px;
background-image: linear-gradient(to bottom left, #f00, #00f);
border-radius: 4px;
}

#outline {
font-size: 2.0em;
font-weight: bold;
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

h3 {
width: 50%;
position: relative;
margin-top: 0;
font-size: 32px;
font-family: helvetica, ariel;
}

h3 a {
position: relative;
color: red;
text-decoration: none;
background-image: linear-gradient(to bottom, #fff, #f00);
}

h3:after {
content:"This is a Line of Text";
color: blue;
}

