#line1 {
width: 50%; font-size: 32px;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f00));
background-image: -gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f00));
-webkit-border-radius: 4px;
border-radius: 4px;
}

